@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application was made by @ViewData["Student"]</p>

<address>
    <p>
        This project was developed as part of the course "COMPLETE C# - Object Oriented Programming + Projects". <br />
        My goal with this project was to learn a little about development of web applications with ASP.NET Core MVC.
    </p>
    <strong>More information about the course: </strong> <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">
    C# COMPLETO Programação Orientada a Objetos + Projetos</a>
</address>

