@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Github:</strong> <a href="https://github.com/mariavitoriav">mariavitoriav</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/m-vitoria-vasconcelos/">Maria Vitória Bezerra de Vasconcelos</a><br />
    <strong>E-mail:</strong> <a href="mailto: mvbv.vitoria@gmail.com">mvbv.vitoria@gmail.com</a>
</address>
